h1 {
    background-color: salmon;
}

.header {
    background-color: rgb(234, 245, 111);

}

.nav{
    background-color: rgba(0, 0, 0, 0.5);
}


.box-shadow {
    box-shadow: -15px -10px 6px 10px darkred;
    border: 1px solid blue;
}




.text-center{
    text-align: center;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}