/*If the selectors are identical. The last selector declared will take effect. In the example below, #2 will take effect*/
/*1*/
h1{
    color:red;

}
/*2*/
h1{
    color:blue;
}


/*The more specific selector will take effect*/
h2.text-purple{ /*element and class*/
    color: purple;
}

h2.text-purple#subheading2{ /*element class ide*/
    color: salmon;
}

h2{ /*element*/
    color: chartreuse;
}

/*parent child*/
ul li a{
    color: pink;
}

.nav-links li{
    color: red;
}